<div class="doc-viewer">
  <strong>Full Report</strong>
  <div class="content">
    <table class="table table-condensed" ng-show="mode == 'table'" bindonce>
      <tbody>
        <tr ng-repeat="field in fields" ng-if="field === 'concept'" bindonce>
          <td>
            <i bo-if="!mapping[field] && !showArrayInObjectsWarning(doc, field)"
              tooltip-placement="top"
              tooltip="No cached mapping for this field. Refresh your mapping from the Settings > Indices page"
              class="fa fa-warning text-color-warning ng-scope doc-viewer-no-mapping"></i>
            <i bo-if="showArrayInObjectsWarning(doc, field)"
              tooltip-placement="top"
              tooltip="Objects in arrays are not well supported."
              class="fa fa-warning text-color-warning ng-scope doc-viewer-object-array"></i>
            <span class="doc-viewer-value" ng-bind-html="(typeof(formatted[field]) === 'undefined' ? hit[field] : formatted[field]) | highlight : hit.highlight[field+'.text'] | trustAsHtml"></span>
          </td>
        </tr>
      </tbody>
    </table>

    <pre ng-show="mode == 'json'">{{hit | json}}</pre>
  </div>
</div>
